# This is a basic workflow to help you get started with Actions

name: Create ADAPools JSON File 

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    if: "! contains(toJSON(github.event.commits.*.message), '[skip-ci]') && github.repository == 'SinglePoolAlliance/Registration'"
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
        with:
          fetch-depth: '0'

      - name: Setup python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'
          architecture: x64
      
      - uses: BSFishy/pip-action@v1
        with:
          packages: gitpython     
      
      # Runs a single command using the runners shell
      - name: Run python script
        run: python3 .github/scripts/createJSON.py

      - name: Show local JSON file
        run: cat adapools.json

      - name: Prepare git for local push to repo
        run: |
          git config --local user.email "onepoolbot@noreply.github.com"
          git config --local user.name onepoolbot

      - name: Push created adapools.json to repo
        run: |
          git add adapools.json
          git commit -m "[skip ci] re(build) adapools.json"
          git push
